div{
    /* 内容区的宽高 */
    width: 400px;
    height: 400px;
    /* div盒子大小400*400 */

    /* 从外到内 外边距 边框 内边距 */
    /* 内边距 */
    padding: 20px;      /*内容区外面上下左右都加20px*/
    /* div盒子大小440*440 */

    /* 边框 */
    border: 10px black solid;
    /* div盒子大小460*460 */

    /* 外边距 */
    margin: 50px;        /*外边距不影响盒子大小*/
    /* div盒子大小460*460 */

    /* 背景颜色覆盖整个盒子 */
    background-color: aliceblue;
}