div{
    /* 左侧的内边距 */
    padding-left: 20px;
    /* 复合属性padding */
    /* 写一个值：上下左右都是这个值 */
    /* 写两个值：第一个值为上下，第二个值为左右 */
    padding: 10px 20px;
    /* 写三个值： 上、左右、下*/
    padding: 10px 20px 30px;
    /* 写四个值：上、右、下、左 */
    padding: 10px 20px 30px 40px;
}

/* 行内元素的上下padding不占空间，会引起重叠 */
/* 块级元素和行内块元素四个方向的内边距都可以完美设置 */