/* 1.通配选择器 */
*{
    color: #000;
}

/* 2.元素选择器 */
h1{
    color: #000;
}

/* 3. 类选择器  一组*/
.class{
    color: #000;
}

/* 4.id的选择器  唯一 */
.id{
    color: #000;
}


/* 5.交集选择器 */
/* p标签中class为ba的样式 */
p.ba{
    color: #000;
}
/* 类名中包含bp和ba  class="ba bp" */
.ba.bp{
    color: #000;
}

/* 6.并集选择器 */
/* p或者ba复用这个样式 */
p,.ba{
    color: #000;
}

/* 7.后代选择器 */
/* lu中所有的li */
ul li{
    color:#000
}

/* 8.子代选择器 */
/* div的儿子，就一代 */
div>a{
    color: #000;
}

/* 9.兄弟选择器 */
/* 往下找 一个 紧紧相连的兄弟 */
div+p{
    color: #000;
}
/* 往下找 所有 平级的兄弟 */
div~p{
    color: #000;
}

/* 10.属性选择器 */
/* 选择具有title属性的元素 */
[title] {
    color: #000;
}
/* 选择具有title属性且其值为a的元素 */
[title="a"] {
    color: #000;
}
/* 选择具有title属性且以a开头的元素 */
[title^="a"] {
    color: #000;
}
/* 选择具有title属性且以a结尾的元素 */
[title$="a"] {
    color: #000;
}
/* 选择具有title属性且值含有a的元素 */
[title*="a"] {
    color: #000;
}


