.a{
    /*字体大小*/
    /* 1.由于文字设计原因，写的10px呈现出来的不一定是10px，有些会超出字体设计框 */
    /* 2.通常文字相对字体设计框会靠下一点，上下边距不会完美平分 */
    font-size: 10px;    

    /*字体族*/
    /* 1.多个值的话从左往右看是否能够使用，能用则用，不能用则看下一个是否能用，以此类推 */
    /* 2.字体族通常在最后会加上sans-serif 非衬线字体，若是前面都不能用浏览器则从电脑种随便找一个能用的非衬线字体*/
    /* 3.能写的字体样式是看自己电脑上有没有装该字体样式（最好写英文名）*/
    font-family: "萝莉体","微软雅黑",sans-serif;   

    /* 字体风格 */
    font-style: italic;   /* 斜体:找设计者设计的倾斜，没有则强制倾斜 */
    font-style: oblique;  /* 倾斜:强制倾斜 */
    font-style: normal;   /* 正常*/

    /* 字体粗细 */
    /* lighter 100-300 , nomal 400-500 , bold >600 , bolder */
    font-weight: lighter;

    /* 字体复合属性 */
    /* 字体大小和字体族必须放在最后，其他往前面加 */
    font: 10px,"微软雅黑",sans-serif;     

}