/* 长度单位 */
.a{
    /* 1.px */
    width: 100px;

    /* 2.em */
    /* em是相对于当前元素（若当前元素没设置则往父元素找）的font-size的倍数*/
    font-size: 10px;
    width: 10em;    /* 宽度为100px */

    /* 3.rem */
    /* rem是相对于根元素（html，没设置则浏览器默认字体大小）font-size的倍数 */
    font-size: 10px;
    width: 10rem;

    /* 4.百分号 */
    /* 相对于父元素的百分比 */
    width: 10%;
    height: 10%;
    font-size: 10%;

    /* 5.vw */ 
    /* vw是相对于视口宽度的百分比 ：将视口宽度分为100份，50vw就是50就是取其中的一半 */
    width: 10vw;
}